<a href="https://colab.research.google.com/github/davione112/Collection_Preprocessing/blob/master/BikeSD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Load dataset

In [50]:
import pandas as pd
import requests

In [51]:
url = 'https://raw.githubusercontent.com/davione112/work/master/train.csv'
dataset = pd.read_csv(url)

In [52]:
dataset.head(10)

              datetime  season  holiday  ...  casual  registered  count
0  2011-01-01 00:00:00       1        0  ...       3          13     16
1  2011-01-01 01:00:00       1        0  ...       8          32     40
2  2011-01-01 02:00:00       1        0  ...       5          27     32
3  2011-01-01 03:00:00       1        0  ...       3          10     13
4  2011-01-01 04:00:00       1        0  ...       0           1      1
5  2011-01-01 05:00:00       1        0  ...       0           1      1
6  2011-01-01 06:00:00       1        0  ...       2           0      2
7  2011-01-01 07:00:00       1        0  ...       1           2      3
8  2011-01-01 08:00:00       1        0  ...       1           7      8
9  2011-01-01 09:00:00       1        0  ...       8           6     14

[10 rows x 12 columns]

# Preprocessing

In [53]:
from datetime import datetime

In [63]:
dt_col = dataset['datetime']
print(dt_col)
hours = []
for i in range(0,len(dt_col)):
 x = datetime.strptime(dt_col[i], "%Y-%m-%d %H:%M:%S")
 hours.append(x.hour)

0        2011-01-01 00:00:00
1        2011-01-01 01:00:00
2        2011-01-01 02:00:00
3        2011-01-01 03:00:00
4        2011-01-01 04:00:00
                ...
10881    2012-12-19 19:00:00
10882    2012-12-19 20:00:00
10883    2012-12-19 21:00:00
10884    2012-12-19 22:00:00
10885    2012-12-19 23:00:00
Name: datetime, Length: 10886, dtype: object

In [67]:
new_dataset = dataset.iloc[:,1:12]
new_dataset['hours'] = hours
new_dataset.head(10)

   season  holiday  workingday  weather  ...  casual  registered  count  hours
0       1        0           0        1  ...       3          13     16      0
1       1        0           0        1  ...       8          32     40      1
2       1        0           0        1  ...       5          27     32      2
3       1        0           0        1  ...       3          10     13      3
4       1        0           0        1  ...       0           1      1      4
5       1        0           0        2  ...       0           1      1      5
6       1        0           0        1  ...       2           0      2      6
7       1        0           0        1  ...       1           2      3      7
8       1        0           0        1  ...       1           7      8      8
9       1        0           0        1  ...       8           6     14      9

[10 rows x 12 columns]